# <span style="color:#ff1414"> BEDtools analysis. </span>

This is a script to answer research questions outlined elsewhere. In summary, this script:

1. compares methylation results between different methylation-callers, and between different methylation sequencing methods.

2. compares methylation between genes and non-gene regions

3. compares methylation between transposons and non-repetitive regions

4. compares transposons and genes


Note:
- PB/pb = PacBio
- ONT/ont = Oxford Nanopore Technology
- NP = Nanopolish

In [131]:
# load modules
import os
import glob
import pprint
import pandas as pd
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
import numpy as np

In [52]:
#First we need to define the base dirs
DIRS = {}
DIRS['BASE2'] = '/home/anjuni/analysis'
DIRS['RNA'] = os.path.join(DIRS['BASE2'], 'rna_counts')
DIRS['MEAN_STD'] = os.path.join(DIRS['RNA'], 'average_and_stdev')
DIRS['TRIALS'] = os.path.join(DIRS['RNA'], 'trials_tsv')
DIRS['FIGURES'] = os.path.join(DIRS['BASE2'], 'figures')
DIRS['BLAST_FIG'] = os.path.join(DIRS['FIGURES'], 'blast_expression')

In [6]:
#Quick chech if directories exist
for value in DIRS.values():
    if not os.path.exists(value):
        print('%s does not exist' % value)

## <span style='color:#ffa347'> 10. Expression of methylation machinery throughout Pst life cycle. <span/>

##### candidate protein details copied from BLAST.ipnyb


#### DNMT1/MASC2

<span style='color:darkred'> query: XP_001833175.2, len = 1253 <span/>

<span style='color:purple'> h_subject: Pst104E_20230, len = 1248 <span/>

Score = 206 bits (523),  Expect = 5e-54, Method: Compositional matrix adjust.
Identities = 241/925 (26%), Positives = 372/925 (40%), Gaps = 178/925 (19%)


<span style='color:darkblue'> p_subject: Pst104E_04293, len = 1248 <span/>

Score = 206 bits (523),  Expect = 5e-54, Method: Compositional matrix adjust.
Identities = 241/925 (26%), Positives = 372/925 (40%), Gaps = 178/925 (19%)

#### RAD8

<span style='color:darkred'> query: XP_001831325.2, len = 2184 <span/>

<span style='color:purple'> h_subject: Pst104E_28179, len = 2204 <span/>

Score = 1158 bits (2996),  Expect = 0.0, Method: Compositional matrix adjust.
Identities = 643/1386 (46%), Positives = 837/1386 (60%), Gaps = 76/1386 (5%)



<span style='color:darkblue'> p_subject: Pst104E_12497, len = 2204 <span/>

Score = 1159 bits (2997),  Expect = 0.0, Method: Compositional matrix adjust.
Identities = 643/1386 (46%), Positives = 838/1386 (60%), Gaps = 76/1386 (5%)

DNMT1/MASC2
- h_subject: Pst104E_20230   //   gene_model_hcontig_0009_24.226
- p_subject: Pst104E_04293   //   gene_model_pcontig_009.363
    
RAD8
- h_subject: Pst104E_28179   //   gene_model_hcontig_0052_06.60
- p_subject: Pst104E_12497   //   gene_model_pcontig_052.64

In [70]:
# make dicts of BLAST results
blast_h = { 'DNMT1/MASC2' : 'gene_model_hcontig_0009_24.226', 'RAD8' : 'gene_model_hcontig_0052_06.60' }
blast_p = { 'DNMT1/MASC2' : 'gene_model_pcontig_009.363', 'RAD8' : 'gene_model_pcontig_052.64', 'ALKBH1' : 'gene_model_pcontig_043.133'}

In [18]:
# make dict of all BLAST results
blast_dict = { 'DNMT1/MASC2_h' : 'gene_model_hcontig_0009_24.226', 'RAD8_h' : 'gene_model_hcontig_0052_06.60', \
              'DNMT1/MASC2_p' : 'gene_model_pcontig_009.363', 'RAD8_p' : 'gene_model_pcontig_052.64' }

In [19]:
blast_dict

{'DNMT1/MASC2_h': 'gene_model_hcontig_0009_24.226',
 'DNMT1/MASC2_p': 'gene_model_pcontig_009.363',
 'RAD8_h': 'gene_model_hcontig_0052_06.60',
 'RAD8_p': 'gene_model_pcontig_052.64'}

In [ ]:
# make fn dict
rnaseq_fn_dict = {}
for fn in glob.iglob('%s/*_gene_rpkm_average.tsv' % DIRS['MEAN_STD'], recursive=True):
    if len(fn) == 87:
        rnaseq_fn_dict[fn.split('/')[-1]] = fn

rnaseq_fn_dict

In [8]:
# make rnaseq df dict
rnaseq_df_dict = {}
for fn in glob.iglob('%s/*_gene_rpkm_average.tsv' % DIRS['MEAN_STD'], recursive=True):
    if len(fn) == 87:
        df = pd.read_csv(fn, header=0, sep='\t')
        rnaseq_df_dict[fn.split('/')[-1]] = df

print(*rnaseq_df_dict, sep='\t')

In [12]:
# check df format
rnaseq_df_dict['Pst_104E_v13_h_gene_rpkm_average.tsv'].head()

,gene_ID,GS,HE,IT0,IT6,IT9,UG
0,gene_model_hcontig_0000_03.1,0.487427,0.000000,0.000000,0.000000,2.377196,0.384531
1,gene_model_hcontig_0000_03.2,0.577405,144.208849,0.000000,1016.181477,456.791691,0.446980
2,gene_model_hcontig_0000_03.3,564.783136,52.086774,24.713948,235.779282,239.133947,316.475087
3,gene_model_hcontig_0000_03.4,0.000000,0.167865,0.000000,0.115347,0.179739,0.000000
4,EVM prediction%2hcontig_0000_003.5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [66]:
# write function to pull line for each gene
def get_gene_expression(rnaseq_df, gene_name_dict):
    """This function makes a list of dataframes with expression data for the provided dictionary of genes."""
    df_list = []
    for key, value in gene_name_dict.items():
        df = rnaseq_df.loc[rnaseq_df['gene_ID'] == value]
        df_list.append(df)
    return df_list

In [72]:
# make final df for p and h contig
h_exp_df = pd.concat(get_gene_expression(rnaseq_df_dict['Pst_104E_v13_h_gene_rpkm_average.tsv'], blast_h))
p_exp_df = pd.concat(get_gene_expression(rnaseq_df_dict['Pst_104E_v13_p_gene_rpkm_average.tsv'], blast_p))

In [73]:
# check df format
h_exp_df

,gene_ID,GS,HE,IT0,IT6,IT9,UG
5163,gene_model_hcontig_0009_24.226,14.044223,10.199002,0.00000,8.278785,13.479055,8.753725
14740,gene_model_hcontig_0052_06.60,25.553134,5.275929,4.24689,23.023202,43.303914,23.250372

In [74]:
# check df format
p_exp_df

,gene_ID,GS,HE,IT0,IT6,IT9,UG
5174,gene_model_pcontig_009.363,12.534978,9.157605,0.000000,7.680131,12.338550,7.733644
15076,gene_model_pcontig_052.64,22.889871,4.734031,3.784534,21.413790,39.808364,20.647280
13769,gene_model_pcontig_043.133,9.629942,8.674925,0.000000,13.181219,11.963731,10.620494

In [75]:
# save out the files
def save_tsv(df, file_name):
    out_fn = os.path.join(DIRS['BLAST_FIG'], file_name)
    df.to_csv(out_fn, sep='\t', header=True, index=None)
    
save_tsv(h_exp_df, 'average_exp_h.tsv')
save_tsv(p_exp_df, 'average_exp_p.tsv')

In [76]:
# getting all values, not just averages as before

# make a dict of file paths
trials_fn_dict = {}
for fn in glob.iglob('%s/*_gene_repRpkmMatrix_featureCounts.tsv' % DIRS['TRIALS'], recursive=True):
    if len(fn) == 95:
        trials_fn_dict[fn.split('/')[-1]] = fn

In [77]:
trials_fn_dict

{'Pst_104E_v13_h_gene_repRpkmMatrix_featureCounts.tsv': '/home/anjuni/analysis/rna_counts/trials_tsv/Pst_104E_v13_h_gene_repRpkmMatrix_featureCounts.tsv',
 'Pst_104E_v13_p_gene_repRpkmMatrix_featureCounts.tsv': '/home/anjuni/analysis/rna_counts/trials_tsv/Pst_104E_v13_p_gene_repRpkmMatrix_featureCounts.tsv'}

In [78]:
# make trials df dict
trials_df_dict = {}
for fn in glob.iglob('%s/*_gene_repRpkmMatrix_featureCounts.tsv' % DIRS['TRIALS'], recursive=True):
    if len(fn) == 95:
        df = pd.read_csv(fn, header=0, sep='\t')
        trials_df_dict[fn.split('/')[-1]] = df

In [79]:
print(*trials_df_dict)

Pst_104E_v13_p_gene_repRpkmMatrix_featureCounts.tsv Pst_104E_v13_h_gene_repRpkmMatrix_featureCounts.tsv

In [80]:
# make final df for p and h contig
h_trials_df = pd.concat(get_gene_expression(trials_df_dict['Pst_104E_v13_h_gene_repRpkmMatrix_featureCounts.tsv'], blast_h))
p_trials_df = pd.concat(get_gene_expression(trials_df_dict['Pst_104E_v13_p_gene_repRpkmMatrix_featureCounts.tsv'], blast_p))

In [81]:
# check df format
h_trials_df

,gene_ID,GS_1,GS_2,GS_3,HE_1,HE_2,HE_3,IT0_1,IT0_2,IT0_3,IT6_1,IT6_2,IT6_3,IT9_1,IT9_2,IT9_3,UG_1,UG_2,UG_3
5163,gene_model_hcontig_0009_24.226,15.047157,13.500206,13.585307,10.544356,10.044541,10.008109,0.0,0.0,0.000000,8.746266,9.365785,6.724305,11.581538,13.042110,15.813519,9.449517,7.129993,9.681665
14740,gene_model_hcontig_0052_06.60,26.808662,22.569493,27.281248,4.773597,5.700367,5.353824,0.0,0.0,12.740669,25.804973,19.635157,23.629477,47.950864,55.108638,26.852241,24.057654,21.909625,23.783836

In [82]:
# check df format
p_trials_df

,gene_ID,GS_1,GS_2,GS_3,HE_1,HE_2,HE_3,IT0_1,IT0_2,IT0_3,IT6_1,IT6_2,IT6_3,IT9_1,IT9_2,IT9_3,UG_1,UG_2,UG_3
5174,gene_model_pcontig_009.363,13.419446,12.043734,12.141756,9.451506,9.031854,8.989456,0.0,0.0,0.000000,8.025845,8.834853,6.179695,10.581197,11.990989,14.443465,8.345580,6.290840,8.564513
15076,gene_model_pcontig_052.64,24.000664,20.215019,24.453928,4.285874,5.073785,4.842435,0.0,0.0,11.353601,23.691241,18.685592,21.864536,43.870896,50.861249,24.692945,21.394362,19.483626,21.063851
13769,gene_model_pcontig_043.133,10.128065,9.165311,9.596449,7.469874,9.089849,9.465051,0.0,0.0,0.000000,13.351038,10.259590,15.933030,10.034442,10.873160,14.983590,11.847797,9.312192,10.701492

In [83]:
# save out the dataframes
save_tsv(h_trials_df, 'trials_exp_h.tsv')
save_tsv(p_trials_df, 'trials_exp_p.tsv')

In [86]:
def anova(df):
    f, p = stats.f_oneway(df['UG'], df['GS'], df['IT6'], df['IT9'], df['HE'])
    return f, p

In [191]:
a_df = pd.read_csv(os.path.join(DIRS['FIGURES'], 'blast_expression', 'alkbh1.txt'), header=0, sep='\t')
r_df = pd.read_csv(os.path.join(DIRS['FIGURES'], 'blast_expression', 'rad8.txt'), header=0, sep='\t')
d_df = pd.read_csv(os.path.join(DIRS['FIGURES'], 'blast_expression', 'dnmt1_masc2.txt'), header=0, sep='\t')

In [178]:
print(anova(a_df))
print(anova(r_df))
print(anova(d_df))

(2.688025546097934, 0.09329475116216082)
(11.790208567592154, 0.0008398938377624887)
(10.947312847015857, 0.0011260785441064)

In [192]:
a_df

          UG         GS        IT6        IT9        HE
0  11.847797  10.128065  13.351038  10.034442  7.469870
1   9.312192   9.165311  10.259590  10.873160  9.089850
2  10.701492   9.596449  15.933030  14.983590  9.465051

In [193]:
r_df # rad8

          UG         GS        IT6        IT9        HE
0  21.394362  24.000664  23.691241  43.870896  4.285874
1  19.483626  20.215019  18.685592  50.861249  5.073785
2  21.063851  24.453928  21.864536  24.692945  4.842435

In [194]:
d_df # dnmt1/masc2

         UG         GS       IT6        IT9        HE
0  8.345580  13.419446  8.025845  10.581197  9.451506
1  6.290840  12.043734  8.834853  11.990989  9.031854
2  8.564513  12.141756  6.179695  14.443465  8.989456

In [195]:
a_array = a_df.values.flatten()
print(a_array)
a_col = np.array(list(a_df.columns)*3).reshape(3,5).flatten()
print(a_col)

[11.847797 10.128065 13.351038 10.034442  7.46987   9.312192  9.165311
 10.25959  10.87316   9.08985  10.701492  9.596449 15.93303  14.98359
  9.465051]
['UG' 'GS' 'IT6' 'IT9' 'HE' 'UG' 'GS' 'IT6' 'IT9' 'HE' 'UG' 'GS' 'IT6'
 'IT9' 'HE']

In [196]:
d_array = d_df.values.flatten()
print(d_array)
d_col = np.array(list(d_df.columns)*3).reshape(3,5).flatten()
print(d_col)

[ 8.34558  13.419446  8.025845 10.581197  9.451506  6.29084  12.043734
  8.834853 11.990989  9.031854  8.564513 12.141756  6.179695 14.443465
  8.989456]
['UG' 'GS' 'IT6' 'IT9' 'HE' 'UG' 'GS' 'IT6' 'IT9' 'HE' 'UG' 'GS' 'IT6'
 'IT9' 'HE']

In [197]:
r_array = r_df.values.flatten()
print(r_array)
r_col = np.array(list(r_df.columns)*3).reshape(3,5).flatten()
print(r_col)

[21.394362 24.000664 23.691241 43.870896  4.285874 19.483626 20.215019
 18.685592 50.861249  5.073785 21.063851 24.453928 21.864536 24.692945
  4.842435]
['UG' 'GS' 'IT6' 'IT9' 'HE' 'UG' 'GS' 'IT6' 'IT9' 'HE' 'UG' 'GS' 'IT6'
 'IT9' 'HE']

In [204]:
mc = MultiComparison(r_array.flatten(), r_col.flatten())
result = mc.tukeyhsd()
 
print(result)
print(mc.groupsunique)

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
group1 group2 meandiff  lower    upper  reject
----------------------------------------------
  GS     HE   -18.1558 -35.0098 -1.3019  True
  GS    IT6   -1.4761  -18.3301 15.3779 False
  GS    IT9   16.9185   0.0645  33.7725  True
  GS     UG   -2.2426  -19.0966 14.6114 False
  HE    IT6   16.6798  -0.1742  33.5337 False
  HE    IT9   35.0743  18.2204  51.9283  True
  HE     UG   15.9132  -0.9407  32.7672 False
 IT6    IT9   18.3946   1.5406  35.2486  True
 IT6     UG   -0.7665  -17.6205 16.0875 False
 IT9     UG   -19.1611 -36.0151 -2.3071  True
----------------------------------------------
['GS' 'HE' 'IT6' 'IT9' 'UG']

In [208]:
# save out results
df = pd.DataFrame(data=result._results_table.data[1:], columns=result._results_table.data[0])
df.to_csv(os.path.join(DIRS['FIGURES'], 'blast_expression', 'rad8_hsd.tsv'), header=True, index=False, sep='\t')

In [213]:
mc = MultiComparison(d_array.flatten(), d_col.flatten())
result = mc.tukeyhsd()
 
print(result)

Multiple Comparison of Means - Tukey HSD,FWER=0.05
=============================================
group1 group2 meandiff  lower   upper  reject
---------------------------------------------
  GS     HE   -3.3774  -6.7557  0.0009 False
  GS    IT6   -4.8548  -8.2331 -1.4766  True
  GS    IT9   -0.1964  -3.5747  3.1819 False
  GS     UG   -4.8013  -8.1796  -1.423  True
  HE    IT6   -1.4775  -4.8558  1.9008 False
  HE    IT9    3.1809  -0.1973  6.5592 False
  HE     UG    -1.424  -4.8023  1.9543 False
 IT6    IT9    4.6584   1.2801  8.0367  True
 IT6     UG    0.0535  -3.3248  3.4318 False
 IT9     UG   -4.6049  -7.9832 -1.2266  True
---------------------------------------------

In [214]:
# save out results
df = pd.DataFrame(data=result._results_table.data[1:], columns=result._results_table.data[0])
df.to_csv(os.path.join(DIRS['FIGURES'], 'blast_expression', 'dnmt1_masc2_hsd.tsv'), header=True, index=False, sep='\t')

In [215]:
mc = MultiComparison(a_array.flatten(), a_col.flatten())
result = mc.tukeyhsd()
 
print(result)

Multiple Comparison of Means - Tukey HSD,FWER=0.05
============================================
group1 group2 meandiff  lower  upper  reject
--------------------------------------------
  GS     HE    -0.955  -6.0621 4.1521 False
  GS    IT6    3.5513  -1.5558 8.6584 False
  GS    IT9    2.3338  -2.7733 7.4409 False
  GS     UG    0.9906  -4.1165 6.0976 False
  HE    IT6    4.5063  -0.6008 9.6134 False
  HE    IT9    3.2888  -1.8183 8.3959 False
  HE     UG    1.9456  -3.1615 7.0527 False
 IT6    IT9   -1.2175  -6.3246 3.8896 False
 IT6     UG   -2.5607  -7.6678 2.5464 False
 IT9     UG   -1.3432  -6.4503 3.7638 False
--------------------------------------------

In [216]:
# save out results
df = pd.DataFrame(data=result._results_table.data[1:], columns=result._results_table.data[0])
df.to_csv(os.path.join(DIRS['FIGURES'], 'blast_expression', 'alkbh1_hsd.tsv'), header=True, index=False,  sep='\t')